# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# 1 - Identify the dimensions of the dataset by determining the number of rows and columns it contains.

import pandas as pd 
url1="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"


b_data = pd.read_csv(url1)

print(b_data.shape) # output 4008 lines and 11 columes
b_data.head() # for curiosity to see the data and see the first 5 rows

(4008, 11)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [2]:
#2 -  Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 


df=pd.DataFrame(b_data)

df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [3]:
# 2.1 Evaluate whether they are appropriate for the nature of the variable



"""
Customer                      object    - ok
ST                            object    - category
GENDER                        object    - category
Education                     object    - category
Customer Lifetime Value       object    - string
Income                       float64    - ok
Monthly Premium Auto         float64    - ok
Number of Open Complaints     object    - int64
Policy Type                   object    - category
Vehicle Class                 object    - category
Total Claim Amount           float64    - ok
"""

'\nCustomer                      object    - ok\nST                            object    - category\nGENDER                        object    - category\nEducation                     object    - category\nCustomer Lifetime Value       object    - string\nIncome                       float64    - ok\nMonthly Premium Auto         float64    - ok\nNumber of Open Complaints     object    - int64\nPolicy Type                   object    - category\nVehicle Class                 object    - category\nTotal Claim Amount           float64    - ok\n'

In [4]:

# Suggestions for fixing any incorrect data types can be provided based on the data_types variable

import pandas as pd 


url1="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

b_data = pd.read_csv(url1)
df=pd.DataFrame(b_data)



df["Customer"]= df["Customer"].astype("string")
df["ST"] = df["ST"].astype("category")
df["GENDER"] = df["GENDER"].astype("category")
df["Education"] = df["Education"].astype("category")
df["Customer Lifetime Value"] = df["Customer Lifetime Value"].astype("string")
df["Number of Open Complaints"] = df["Number of Open Complaints"].astype("string")
df["Policy Type"] = df["Policy Type"].astype("category")
df["Vehicle Class"] = df["Vehicle Class"].astype("category")

df.dtypes

Customer                     string[python]
ST                                 category
GENDER                             category
Education                          category
Customer Lifetime Value      string[python]
Income                              float64
Monthly Premium Auto                float64
Number of Open Complaints    string[python]
Policy Type                        category
Vehicle Class                      category
Total Claim Amount                  float64
dtype: object

In [5]:
#- Identify the number of unique values for each column and determine which columns appear to be categorical. 
df.nunique().value_counts

<bound method IndexOpsMixin.value_counts of Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64>

In [6]:
#- Identify the number of unique values for each column and determine which columns appear to be categorical

"""
Customer                             string[python]
ST                              8  - category  
GENDER                          5  - category  
Education                       6  - category  
Customer Lifetime Value      1028
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       7  - category  
Policy Type                     3  - category  
Vehicle Class                   6
Total Claim Amount            761

"""
# This are categorical, as they have a limited number of unique values, which suggests that they represent categories or classes. 
# The other columns appear to contain either continuous numeric values or unique identifiers.
# which suggests they may be numeric columns or unique identifiers.

'\nCustomer                             string[python]\nST                              8  - category  \nGENDER                          5  - category  \nEducation                       6  - category  \nCustomer Lifetime Value      1028\nIncome                        774\nMonthly Premium Auto          132\nNumber of Open Complaints       7  - category  \nPolicy Type                     3  - category  \nVehicle Class                   6\nTotal Claim Amount            761\n\n'

In [7]:
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

# all columns with categorical data
categorical_columns = ['ST',
                       'GENDER',
                       'Education',
                       'Number of Open Complaints',
                       'Policy Type']

unique_values_categorical = {col: df[col].unique() for col in categorical_columns}

print(f"Unique Values of Categorical Columns are:, {unique_values_categorical}")

Unique Values of Categorical Columns are:, {'ST': ['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali', 'AZ', 'WA', NaN]
Categories (8, object): ['AZ', 'Arizona', 'Cali', 'California', 'Nevada', 'Oregon', 'WA', 'Washington'], 'GENDER': [NaN, 'F', 'M', 'Femal', 'Male', 'female']
Categories (5, object): ['F', 'Femal', 'M', 'Male', 'female'], 'Education': ['Master', 'Bachelor', 'High School or Below', 'College', 'Bachelors', 'Doctor', NaN]
Categories (6, object): ['Bachelor', 'Bachelors', 'College', 'Doctor', 'High School or Below', 'Master'], 'Number of Open Complaints': <StringArray>
['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', <NA>]
Length: 7, dtype: string, 'Policy Type': ['Personal Auto', 'Corporate Auto', 'Special Auto', NaN]
Categories (3, object): ['Corporate Auto', 'Personal Auto', 'Special Auto']}

In [8]:
# and the range of values for numerical columns, and give your insights

def space():
    print(
            )

for col, unique_vals in unique_values_categorical.items():
    print(f"{col}: {unique_vals}")
    space()
    
space() 

# Describe value range of numeric columns
numerical_columns = ['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Total Claim Amount']
range_numerical_values = {col: (df[col].min(), df[col].max()) for col in numerical_columns}

print("Range of Values in Numeric Columns:")
for col, (min_val, max_val) in range_numerical_values.items():
    print(f"{col}: Mínimo = {min_val}, Máximo = {max_val}")
    space()

ST: ['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali', 'AZ', 'WA', NaN]
Categories (8, object): ['AZ', 'Arizona', 'Cali', 'California', 'Nevada', 'Oregon', 'WA', 'Washington']

GENDER: [NaN, 'F', 'M', 'Femal', 'Male', 'female']
Categories (5, object): ['F', 'Femal', 'M', 'Male', 'female']

Education: ['Master', 'Bachelor', 'High School or Below', 'College', 'Bachelors', 'Doctor', NaN]
Categories (6, object): ['Bachelor', 'Bachelors', 'College', 'Doctor', 'High School or Below', 'Master']

Number of Open Complaints: <StringArray>
['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', <NA>]
Length: 7, dtype: string

Policy Type: ['Personal Auto', 'Corporate Auto', 'Special Auto', NaN]
Categories (3, object): ['Corporate Auto', 'Personal Auto', 'Special Auto']


Range of Values in Numeric Columns:
Customer Lifetime Value: Mínimo = 1006460.83%, Máximo = 995170.77%

Income: Mínimo = 0.0, Máximo = 99960.0

Monthly Premium Auto: Mínimo = 61.0, Máximo = 35354.0

Total Claim Amount: Mínimo = 0.382107, Máximo = 2893.239678

In [9]:
#- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [10]:
#- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

df.describe(include="all")

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,1071,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000
unique,1071,8,5,6,1027,NaN,NaN,6,3,6,NaN
top,RB50392,Oregon,F,Bachelor,445811.34%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN
freq,1,320,457,324,4,NaN,NaN,830,780,576,NaN
mean,NaN,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909
std,NaN,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260
min,NaN,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107
25%,NaN,NaN,NaN,NaN,NaN,14072.000000,68.000000,NaN,NaN,NaN,202.157702
50%,NaN,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129
75%,NaN,NaN,NaN,NaN,NaN,64631.000000,109.500000,NaN,NaN,NaN,532.800000
max,NaN,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [11]:
# Your code here


import pandas as pd 


url1="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

b_data = pd.read_csv(url1)

b_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [12]:
b_data = pd.read_csv(url1)

# Substituir os códigos de estado pelas suas formas completas
b_data['ST'].replace({'Cali': 'California', 'AZ': 'Arizona', 'WA': 'Washington'}, inplace=True) # Replace State codes with their full forms - California, Arizona, Washington


ST_count = b_data['ST'].value_counts() # count the values by state


top_5_less_common = ST_count.nsmallest(5)   # Find the 5 least common locations 

top_5_less_common

ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [13]:
policy_types = b_data['Policy Type'].value_counts()

policy_types

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [14]:
policy_type_highest_sales = policy_types.idxmax()

policy_type_highest_sales

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [15]:
# Criar dataframe apenas com apólices de Auto Pessoal
personal_auto_df = b_data.loc[b_data['Policy Type'] == 'Personal Auto']

# Calcular a renda média para apólices de Auto Pessoal
average_income_personal_auto = personal_auto_df['Income'].mean()

# Arredondar a renda média para duas casas decimais
average_income_personal_auto = round(average_income_personal_auto, 2)

# Imprimir o resultado formatado
print("Average Income for Personal Auto Policies: {:.2f} $ ".format(average_income_personal_auto))

Average Income for Personal Auto Policies: 38180.70 $

In [16]:
# Criar dataframe apenas com apólices de Auto Pessoal
personal_auto_df = b_data.loc[b_data['Policy Type'] == 'Corporate Auto']

# Calcular a renda média para apólices de Auto Pessoal
average_income_corporate_auto = personal_auto_df['Income'].mean()

# Arredondar a renda média para duas casas decimais
average_income_corporate_auto = round(average_income_corporate_auto, 2)

# Imprimir o resultado formatado
print("Average income for Corporate Auto policies: {:.2f} $ ".format(average_income_corporate_auto))

Average income for Corporate Auto policies: 41390.31 $

In [20]:
print("Average Income for Personal Auto Policies: {:.2f} $ ".format(average_income_personal_auto))
print("Average income for Corporate Auto policies: {:.2f} $ ".format(average_income_corporate_auto))
print("Average income for Corporate Auto policies is bigger than average income for Individual Auto policies")

Average Income for Personal Auto Policies: 38180.70 $
Average income for Corporate Auto policies: 41390.31 $
Average income for Corporate Auto policies is bigger than average income for Individual Auto policies

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [23]:
# Done with help from Google and chatGPT but nice to learn.  


high_claim_threshold = b_data['Total Claim Amount'].quantile(0.75)  # Calculate the 75th percentile of the total claim value


high_claim_customers = b_data[b_data['Total Claim Amount'] > high_claim_threshold]   # Create a DataFrame containing information about customers with a claim value above the 75th percentile


summary_statistics = high_claim_customers['Total Claim Amount'].describe()  # Calculate summary statistics on high value loss data


print(summary_statistics)

count     264.000000
mean      782.228263
std       292.751640
min       537.600000
25%       606.521741
50%       679.597985
75%       851.400000
max      2893.239678
Name: Total Claim Amount, dtype: float64